/* myReset:Start*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  color: #000;
  height: 100%;
  line-height: 1;
  font: normal 100% Cambria, Georgia, serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 20px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

a,
a:hover,
a:focus {
  outline: none;
  color: #000; }

.decoration-none,
.decoration-none a {
  text-decoration: none; }

p {
  padding: 0;
  margin-bottom: 20px; }

img {
  border-style: none;
  outline: none;
  max-width: 100%; }

input {
  -webkit-appearance: none; }

input,
textarea,
button,
.slick-slide {
  outline: none; }

button {
  cursor: pointer; }

strong {
  font-weight: bold; }

label {
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.text-center {
  text-align: center; }

.list-style-none,
.list-style-none ul {
  list-style: none; }

/* END:myReset */
a, .site-header__nav-list li, .site-header__nav-list li a, .site-header__nav-list > li.current-menu-item > a:after, .site-header__nav-list > li:hover a:after, .home__dont-scroll-submit {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.myContainer:after, .site-header__nav-list:after, .site-header__submenu:after, .site-header__login-block:after, .site-footer__left-top:after, .site-footer__nav-sections:after, .site-footer__nav-list:after, .site-footer__social-list:after, .home__intro-section-content:after, .home__start-list:after, .home__start-bg-section:after, .home__start-bg-section-content:after, .home__dont-scroll-content:after, .inner-page .inner-page__features-list:after, .inner-page .inner-page__complete-list:after, .inner-page .inner-page__interested-list:after {
  display: block;
  content: '';
  clear: both; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto/Roboto-Light/Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light/Roboto-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto/Roboto-Black/Roboto-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Black/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Black/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Black/Roboto-Black.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

/*base*/
body {
  font-family: 'Roboto-Regular'; }

.home__start-bg-section-link, .home__dont-scroll-submit, .home__reviews-btn {
  display: inline-block;
  font-size: 18px;
  color: #353f43;
  text-align: center;
  padding: 10px 40px;
  border: 1px solid #353f43;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none; }
  .home__start-bg-section-link:hover, .home__dont-scroll-submit:hover, .home__reviews-btn:hover {
    border-color: #e63477;
    color: #e63477; }

.myContainer {
  position: relative;
  max-width: 1280px;
  padding: 0 72px;
  margin: 0 auto; }

.section {
  height: 90vh;
  min-height: 650px; }
  .section > .myContainer {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .section__title {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 55px;
    color: #374146; }
    .section__title strong {
      font-family: 'Roboto-Bold'; }

/*site-header*/
.site-header {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(65, 74, 78, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  height: 62px; }
  .site-header a {
    color: #fff; }
  .site-header__logo {
    font-family: 'Roboto-Bold';
    font-size: 26px;
    margin-bottom: 0;
    float: left;
    padding-top: 17px;
    font-weight: normal; }
    .site-header__logo a {
      text-decoration: none;
      font-weight: normal; }
      .site-header__logo a:hover {
        color: rgba(255, 255, 255, 0.5); }
  .site-header__left-block {
    float: right; }
  .site-header__nav {
    float: left;
    margin-right: 72px; }
  .site-header__nav-list {
    margin-bottom: 0; }
    .site-header__nav-list li {
      list-style: none; }
      .site-header__nav-list li .submenu {
        position: fixed;
        top: 62px;
        left: 0;
        width: 100%;
        padding: 4px 0;
        text-align: center;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.68);
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        .site-header__nav-list li .submenu.active {
          opacity: 1;
          visibility: visible; }
        .site-header__nav-list li .submenu.activeBar {
          opacity: 1;
          visibility: visible; }
        .site-header__nav-list li .submenu li {
          display: inline-block;
          list-style: none;
          padding-right: 48px; }
          .site-header__nav-list li .submenu li:last-child {
            padding-right: 0;
            margin-right: 0; }
          .site-header__nav-list li .submenu li a {
            padding: 12px 0; }
            .site-header__nav-list li .submenu li a:after {
              display: none; }
          .site-header__nav-list li .submenu li.active {
            font-family: 'Roboto-Medium';
            font-size: 16px; }
    .site-header__nav-list > li {
      position: relative;
      float: left;
      cursor: pointer;
      padding-right: 24px;
      padding-left: 24px; }
      .site-header__nav-list > li a:hover {
        color: rgba(255, 255, 255, 0.5); }
      .site-header__nav-list > li.current-menu-item > a:after {
        position: absolute;
        bottom: 13px;
        left: 0;
        content: '';
        width: 100%;
        height: 3px;
        background-color: #fff;
        display: block; }
      .site-header__nav-list > li:hover a:after {
        position: absolute;
        bottom: 13px;
        left: 0;
        content: '';
        width: 100%;
        height: 3px;
        background-color: #fff;
        display: block; }
      .site-header__nav-list > li:last-child {
        margin-right: 0; }
      .site-header__nav-list > li a {
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
        padding: 20px 0 20px 0;
        position: relative; }
  .site-header__submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68); }
    .site-header__submenu li {
      display: inline-block;
      list-style: none;
      margin-right: 25px; }
      .site-header__submenu li.active {
        font-family: 'Roboto-Medium'; }
      .site-header__submenu li a {
        text-decoration: none;
        color: #fff; }
  .site-header__login-block {
    float: right;
    margin-top: -10px;
    padding-top: 19px;
    margin-right: -12px; }
  .site-header__demo-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto-Regular';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px; }
    .site-header__demo-link:after {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      content: '/';
      font-size: 24px;
      color: #fff;
      margin-left: 6px;
      top: -3px;
      left: 5px; }
  .site-header__login-link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    background-image: url(../img/main/site-header__login-link.png);
    background-repeat: no-repeat;
    padding: 24px;
    background-position: center center;
    position: relative;
    top: -2px;
    left: 1px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .site-header__mobile-btn {
    display: none;
    width: 25px;
    height: 25px;
    background: none;
    background-image: url(../img/main/mobile-btn.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    position: relative;
    top: 20px;
    left: 16px; }

/*END:site-header*/
/*site-footer*/
.site-footer {
  clear: both;
  padding-top: 68px;
  padding-bottom: 34px;
  color: #fff;
  background-color: rgba(65, 74, 78, 0.8);
  position: relative;
  top: 100px; }
  .site-footer:after {
    display: block;
    content: '';
    clear: both; }
  .site-footer a {
    color: #878d8f; }
  .site-footer__top-block {
    margin-bottom: 43px; }
  .site-footer__left-top {
    margin-bottom: 42px; }
  .site-footer__left-block {
    float: left;
    width: 63.799999999999997%;
    margin-right: 14%; }
  .site-footer__right-block {
    float: left;
    width: 22.199999999999999%; }
  .site-footer__searchform {
    float: left;
    margin-right: 10.199999999999999%;
    padding-bottom: 5px;
    border-bottom: 1px solid #d5d5d6;
    width: 44.700000000000003%; }
  .site-footer__searchfield {
    width: 100%;
    font-family: 'Roboto-Light';
    font-size: 16px;
    padding-left: 35px;
    border: none;
    color: #fff;
    background-color: transparent;
    background-color: transparent;
    background-image: url(../img/main/site-footer__searchfield.png);
    background-repeat: no-repeat; }
  .site-footer__top-imgblock {
    float: left;
    width: 44%;
    border-bottom: 1px solid #d5d5d6; }
    .site-footer__top-imgblock .img {
      display: inline-block; }
  .site-footer__nav-section {
    float: left;
    width: 15.725%;
    margin-right: 3.90625%; }
  .site-footer__nav-title {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 4.6px;
    font-weight: normal; }
    .site-footer__nav-title a {
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      color: #fff;
      margin-bottom: 4.6px;
      font-weight: normal; }
  .site-footer__nav-list li {
    list-style: none; }
    .site-footer__nav-list li a {
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      color: #abaeaf; }
      .site-footer__nav-list li a:hover {
        color: #fff; }
  .site-footer__social-list {
    margin-bottom: 46px;
    text-align: center;
    padding-top: 4px;
    float: right; }
    .site-footer__social-list li {
      margin-right: 20px;
      list-style: none;
      float: left; }
      .site-footer__social-list li:last-child {
        margin-right: 0; }
      .site-footer__social-list li a {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat; }
      .site-footer__social-list li.youtube a {
        width: 20px;
        height: 24px; }
      .site-footer__social-list li.facebook a {
        width: 13px;
        height: 24px; }
      .site-footer__social-list li.google-plus a {
        width: 23px;
        height: 24px; }
      .site-footer__social-list li.twitter a {
        width: 27px;
        height: 24px; }
      .site-footer__social-list li.linkedin a {
        width: 25px;
        height: 24px; }
    .site-footer__social-list li.youtube a {
      background-image: url(../img/main/youtube.png); }
    .site-footer__social-list li.facebook a {
      background-image: url(../img/main/facebook.png); }
    .site-footer__social-list li.google-plus a {
      background-image: url(../img/main/google-plus.png); }
    .site-footer__social-list li.twitter a {
      background-image: url(../img/main/twitter.png); }
    .site-footer__social-list li.linkedin a {
      background-image: url(../img/main/linkedin.png); }
  .site-footer__hotline-section {
    float: right; }
  .site-footer__hotline-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    font-weight: normal; }
  .site-footer__hotline-list li {
    font-size: 14px;
    line-height: 24px;
    list-style: none; }
    .site-footer__hotline-list li a {
      color: #b1b4b5;
      text-decoration: none; }
      .site-footer__hotline-list li a:hover {
        color: #fff; }
  .site-footer__site-footer__copyright {
    float: left; }
  .site-footer__copyright {
    float: left;
    color: #878d8f;
    font-family: 'Roboto-Medium'; }
  .site-footer__copyright-text {
    font-weight: bold;
    color: #878d8f; }
  .site-footer__copyright-link {
    text-decoration: none;
    color: #878d8f; }
  .site-footer__card-wrap {
    float: right; }

/*home*/
.home__banner {
  position: relative;
  background-image: url(../img/home/homebanner.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
  min-height: 602px; }
  .home__banner > .myContainer {
    height: 100%;
    position: static;
    top: inherit;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

.home__banner-caption {
  padding-left: 67px;
  color: #fff;
  width: 50%;
  position: relative;
  top: 50%;
  left: auto;
  padding-top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.home__banner-caption-title {
  font-size: 48px;
  margin-bottom: 43px; }
  .home__banner-caption-title strong {
    font-family: 'Roboto-Bold';
    margin-bottom: 25px;
    color: #e63477; }

.home__banner-sign-btn {
  display: inline-block;
  font-size: 18px;
  padding: 10px 47px 10px 41px;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-left: -2px; }
  .home__banner-sign-btn:hover {
    border-color: #e63477;
    color: #e63477; }

.home__intro-section-content {
  padding-top: 45px; }

.home__intro-section-left-block {
  float: left;
  width: 44.25%;
  text-align: center;
  margin-right: 12.85%; }
  .home__intro-section-left-block .icon-wrap {
    text-align: center;
    padding-top: 10px; }
  .home__intro-section-left-block .icon {
    display: inline-block;
    margin-bottom: 82px; }

.home__intro-section-title {
  font-size: 20px;
  margin-bottom: 25px;
  color: #000;
  font-weight: normal; }

.home__intro-section-right-block {
  float: left;
  width: 42.049999999999997%; }

.home__intro-section-description {
  font-family: 'Roboto-Light';
  font-size: 20px;
  margin-bottom: 37px; }

.home__intro-section-sign-btn {
  font-size: 18px;
  color: #353f43;
  padding: 10px 48px 10px 44px;
  border: 1px solid #353f43;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  text-align: center; }
  .home__intro-section-sign-btn:hover {
    border-color: #e63477;
    color: #e63477; }

.home__start-section {
  background-color: #F9F9F9;
  margin-bottom: 0; }

.home__start-list {
  text-align: center;
  margin-bottom: 46px; }
  .home__start-list li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    width: 30.199999999999999%;
    margin-right: 3.6%; }
    .home__start-list li:nth-child(2) .img {
      margin-left: -57px; }
    .home__start-list li:last-child {
      margin-right: 0; }
    .home__start-list li .img {
      display: inline-block;
      margin-bottom: 42px; }

.home__start-list-description {
  max-width: 60%;
  margin: 0 auto;
  font-family: 'Roboto-Light';
  font-size: 18px; }

.home__start-section-sign-btn-wrap {
  text-align: center; }

.home__start-section-sign-btn {
  color: #353f43;
  text-align: center;
  padding: 10px 20px 12px 20px;
  border: 1px solid #353f43;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; }
  .home__start-section-sign-btn:hover {
    border-color: #e63477;
    color: #e63477; }

.home__start-bg-section {
  background-image: url(../img/home/home__start-bg-section.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

.home__start-bg-section-left-block {
  float: left;
  padding-left: 35px;
  width: 35%; }

.home__start-bg-section-right-block {
  float: right;
  width: 26%;
  padding-left: 0; }

.home__start-bg-section-description {
  font-family: 'Roboto-Light';
  font-size: 20px;
  margin-bottom: 41px; }

.home__start-bg-section-link {
  margin-left: 34px;
  padding: 10px 58px 12px 46px; }
  .home__start-bg-section-link--right {
    padding: 10px 21px 13px 23px;
    margin: 48px 0 0 59px; }

.home__dont-scroll-content {
  padding-top: 25px; }

.home__dont-scroll-left-block {
  float: left;
  width: 42.75%;
  margin-right: 14.25%; }
  .home__dont-scroll-left-block .description {
    font-family: 'Roboto-Light';
    font-size: 18px; }

.home__dont-scroll-right-block {
  float: left;
  width: 42.950000000000003%; }

.home__dont-scroll-element-title {
  margin-bottom: 7px;
  color: #424141;
  font-weight: normal;
  font-size: 12px; }

.home__dont-scroll-fieldset {
  margin-bottom: 107px; }

.home__dont-scroll-element-wrap {
  margin-bottom: 41px; }

.home__dont-scroll-element {
  width: 100%;
  font-size: 16px;
  border: none;
  padding-bottom: 9px;
  color: #a9a9a9;
  border-bottom: 1px solid #a8a8a8;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .home__dont-scroll-element::-webkit-input-placeholder {
    color: #a9a9a9; }
  .home__dont-scroll-element::-moz-placeholder {
    color: #5D5B5B; }
  .home__dont-scroll-element:-moz-placeholder {
    color: #5D5B5B; }
  .home__dont-scroll-element:-ms-input-placeholder {
    color: #a9a9a9; }

.home__dont-scroll-submit {
  background-color: transparent;
  padding: 10px 50px 12px 51px;
  cursor: pointer; }

.home__reviews-left-block {
  float: left;
  width: 44.049999999999997%;
  margin-right: 12.949999999999999%; }

.home__reviews-title {
  font-size: 36px;
  margin-bottom: 60px;
  color: #374146;
  font-weight: normal; }
  .home__reviews-title strong {
    font-family: 'Roboto-Bold'; }

.home__reviews-subtitle {
  font-size: 24px;
  font-weight: normal; }

.home__reviews-description {
  font-family: 'Roboto-Light';
  font-size: 18px;
  margin-bottom: 33px; }

.home__reviews-btn {
  padding: 10px 29px 10px 31px; }

.home__reviews-right-block {
  float: left;
  width: 43%;
  padding-top: 53px; }

/*END:home*/
/*inner-page*/
.inner-page {
  padding-top: 62px; }
  .inner-page a {
    font-size: 16px;
    line-height: 20px;
    color: #ff3167; }
  .inner-page p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px; }
  .inner-page ul {
    padding-left: 0;
    margin-bottom: 20px; }
    .inner-page ul li {
      position: relative;
      font-size: 18px;
      line-height: 28px;
      list-style: none;
      padding-left: 0; }
  .inner-page__content-area {
    padding-top: 0;
    padding-bottom: 48px; }
  .inner-page__main-content {
    float: left;
    width: 66.670000000000002%;
    padding-top: 72px; }
  .inner-page__breadcrumbs {
    margin-bottom: 35px; }
  .inner-page__breadcrumbs-text {
    position: relative;
    font-size: 18px; }
    .inner-page__breadcrumbs-text:after {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      content: '/';
      margin: 0 5px; }
  .inner-page .inner-page__breadcrumbs-link {
    font-size: 18px;
    text-decoration: none;
    color: #000000; }
  .inner-page .inner-page__breadcrumbs-list {
    padding-left: 0; }
    .inner-page .inner-page__breadcrumbs-list li {
      list-style: none;
      display: inline-block;
      padding-left: 0; }
      .inner-page .inner-page__breadcrumbs-list li:before {
        display: none; }
  .inner-page__main-article {
    margin-bottom: 89px; }
  .inner-page__main-title {
    font-size: 36px;
    margin-bottom: 67px;
    font-weight: normal; }
  .inner-page__main-description {
    font-size: 18px;
    line-height: 28px; }
  .inner-page .inner-page__features-list {
    margin-bottom: 60px;
    padding-left: 0; }
    .inner-page .inner-page__features-list li {
      float: left;
      width: 25.5%;
      list-style: none;
      margin-right: 56px;
      text-align: center;
      vertical-align: middle;
      padding-left: 0; }
      .inner-page .inner-page__features-list li:before {
        display: none; }
      .inner-page .inner-page__features-list li:last-child {
        margin-right: 0; }
  .inner-page__feature-icon-wrap {
    height: 118px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
    vertical-align: middle; }
  .inner-page__feature-icon {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block; }
  .inner-page__feature-title {
    font-family: 'Roboto-Light';
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-align: center; }
  .inner-page__default-article {
    margin-bottom: 80px; }
  .inner-page__default-article-marker ul {
    padding-left: 25px;
    margin-bottom: 20px; }
    .inner-page__default-article-marker ul li {
      position: relative;
      font-size: 18px;
      line-height: 28px;
      list-style: none;
      padding-left: 10px; }
      .inner-page__default-article-marker ul li:before {
        position: absolute;
        content: '';
        top: 12px;
        left: -10px;
        display: inline-block;
        width: 2px;
        height: 2px;
        background-color: #000;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
  .inner-page__default-article-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 28px; }
  .inner-page__call-img {
    display: block;
    max-width: 100%;
    margin: 0 auto 60px; }
  .inner-page .inner-page__complete-list {
    padding-left: 0; }
    .inner-page .inner-page__complete-list li {
      list-style: none;
      padding-left: 0;
      float: left;
      width: 47%;
      margin-right: 2%; }
      .inner-page .inner-page__complete-list li:last-child {
        margin-right: 0; }
      .inner-page .inner-page__complete-list li:before {
        display: none; }
  .inner-page__complete {
    margin-bottom: 55px; }
  .inner-page__complete-imgblock {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; }
  .inner-page__complete-textblock {
    display: inline-block;
    vertical-align: top;
    width: 60%; }
  .inner-page__complete-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px; }
  .inner-page__interested {
    margin-bottom: 45px; }
  .inner-page .inner-page__interested-list {
    padding-left: 0;
    padding-top: 27px; }
    .inner-page .inner-page__interested-list li {
      font-family: 'Roboto-Light';
      font-size: 16px;
      line-height: 20px;
      padding-left: 0;
      float: left;
      width: 28%;
      list-style: none;
      margin-right: 5%; }
      .inner-page .inner-page__interested-list li:last-child {
        margin-right: 0; }
      .inner-page .inner-page__interested-list li:before {
        display: none; }
  .inner-page__interested-title {
    font-size: 18px; }
  .inner-page__sidebar {
    height: 87.120418848167546vh;
    padding-right: 0;
    -webkit-transform: inherit !important;
    -moz-transform: inherit !important;
    -ms-transform: inherit !important;
    -o-transform: inherit !important;
    transform: inherit !important;
    will-change: inherit !important;
    float: right;
    min-width: 282px;
    font-weight: 400 !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
    .inner-page__sidebar--default {
      position: absolute;
      bottom: 0;
      height: auto;
      top: inherit;
      padding-bottom: 25px;
      width: auto;
      padding-right: 102px !important;
      margin-right: 0 !important;
      -webkit-transform: translateY(-51px);
      -moz-transform: translateY(-51px);
      -ms-transform: translateY(-51px);
      -o-transform: translateY(-51px);
      transform: translateY(-51px);
      -webkit-transition: -webkit-transform 0.4s ease-in-out;
      transition: -webkit-transform 0.4s ease-in-out;
      -moz-transition: transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out;
      -o-transition: transform 0.4s ease-in-out, -o-transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out, -o-transform 0.4s ease-in-out; }
      .inner-page__sidebar--default .inner-page__sidebar-action {
        margin-bottom: 49%; }
      .inner-page__sidebar--default .inner-page__sidebar-imageblock {
        margin-bottom: 57%; }
  .inner-page__sidebar-block {
    display: table;
    width: 100%; }
  .inner-page__sidebar-innerblock {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .inner-page__sidebar-action {
    text-align: center;
    height: 30%; }
  .inner-page__sidebar-action-title {
    font-family: 'Roboto-Black';
    font-size: 48px;
    margin-bottom: -1px;
    color: #ff3167;
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased; }
  .inner-page__sidebar-action-subtitle {
    font-size: 20px;
    font-weight: 400 !important;
    color: #676e71;
    margin-top: -1px;
    -webkit-font-smoothing: antialiased; }
  .inner-page__sidebar-imageblock {
    height: 40%; }
  .inner-page__sidebar-getblock {
    height: 30%; }
  .inner-page .inner-page__sidebar-submitBtn {
    display: inline-block;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    margin-bottom: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #ff3167;
    text-decoration: none;
    padding: 7px 42px 7px 42px;
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased; }
    .inner-page .inner-page__sidebar-submitBtn:hover {
      color: #ff3167;
      border-color: #ff3167;
      background-color: #fff; }
  .inner-page .inner-page__sidebar-manageHelp {
    display: inline-block;
    padding-left: 41px;
    margin-right: 6px;
    color: #676e71;
    background-image: url(../img/inner-page/sidebar-manageHelp.png);
    background-repeat: no-repeat;
    background-position: 11px;
    font-size: 14px;
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased; }

/*END:inner-page*/
/*RESPONSIVE*/
@media screen and (max-width: 1200px) {
  .section {
    padding-top: 65px;
    padding-bottom: 78px; }
  .home__banner {
    min-height: 450px !important; }
  .inner-page__main-content {
    width: 56%;
    padding-top: 0; }
  .section > .myContainer {
    position: static;
    top: inherit;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .site-footer {
    position: static; }
  .wrapper {
    height: auto; }
  .section {
    height: auto;
    min-height: auto; }
  .inner-page__feature-icon-wrap {
    height: auto; }
  .inner-page__default-article {
    text-align: center; }
  .inner-page__call-img {
    margin: 0 auto 60px; }
  .inner-page ul {
    text-align: left; }
  .body-inner-page .site-header .submenu:before {
    display: none; }
  .inner-page__content-area {
    padding-top: 0; }
  .site-header__nav-list > li.current-menu-item:after,
  .site-header__nav-list > li:hover:after {
    display: none; }
  .site-header__nav-list > li.current-menu-item > a,
  .site-header__nav-list > li:hover > a {
    display: inline-block;
    position: relative; }
    .site-header__nav-list > li.current-menu-item > a:after,
    .site-header__nav-list > li:hover > a:after {
      position: absolute;
      bottom: 11px;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background-color: #fff;
      display: block; }
  .home__intro-section-left-block, .home__intro-section-right-block, .home__start-list li, .home__start-bg-section-left-block, .home__start-bg-section-right-block, .home__dont-scroll-left-block, .home__dont-scroll-right-block, .home__reviews-left-block, .home__reviews-right-block, .site-footer__left-block, .site-footer__right-block, .site-footer__social-list, .site-footer__hotline-section {
    float: none;
    width: 100%;
    margin-right: 0; }
  .home__banner-caption {
    width: 100%;
    text-align: center;
    padding-left: 0;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
    transform: inherit;
    top: 0; }
  .home__intro-section-left-block {
    margin-bottom: 85px; }
  .home__intro-section-right-block {
    text-align: center; }
  .home__start-list li {
    margin-bottom: 45px; }
    .home__start-list li:last-child {
      margin-bottom: 0; }
  .home__start-list-description {
    max-width: 40%; }
  .home__start-bg-section {
    padding-bottom: 65px; }
  .home__start-bg-section-left-block {
    text-align: center;
    max-width: 70%;
    margin: 0 auto 75px;
    padding-left: 0; }
  .home__start-bg-section-link {
    margin-left: 0; }
  .home__start-bg-section-right-block {
    max-width: 70%;
    margin: 0 auto;
    text-align: center; }
  .home__start-bg-section-link--right {
    margin-top: 0; }
  .home__dont-scroll {
    margin-bottom: 15px; }
  .home__dont-scroll-left-block {
    margin-bottom: 65px; }
  .home__dont-scroll-fieldset {
    margin-bottom: 35px; }
  .home__reviews-left-block {
    text-align: center; }
  .home__reviews-right-block {
    text-align: center; }
  .home__reviews-description {
    max-width: 70%;
    margin: 0 auto 35px; }
  .site-footer__left-block {
    margin-bottom: 45px; }
  .site-footer__nav-sections {
    text-align: center; }
  .site-footer__nav-section {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: initial;
    margin-bottom: 35px; }
    .site-footer__nav-section:last-child {
      margin-bottom: 0; }
  .site-footer__nav-list li {
    text-align: left; }
  .site-footer__nav-title {
    text-align: left; }
  .site-footer__social-list li {
    float: none;
    display: inline-block; }
  .site-footer__hotline-section {
    text-align: center; }
  .site-footer__hotline-title {
    margin-bottom: 15px; }
  .site-header__mobile-btn {
    display: inline-block; }
  .site-header__nav {
    position: absolute;
    float: none;
    top: 73px;
    left: 73px;
    margin-right: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: translateX(-999px);
    -moz-transform: translateX(-999px);
    -ms-transform: translateX(-999px);
    -o-transform: translateX(-999px);
    transform: translateX(-999px);
    padding: 22px 45px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .site-header__nav li {
      margin-right: 0;
      float: none;
      -webkit-transition: initial;
      -moz-transition: initial;
      -o-transition: initial;
      transition: initial;
      padding-right: 0;
      padding-left: 0; }
      .site-header__nav li a {
        -webkit-transition: initial;
        -moz-transition: initial;
        -o-transition: initial;
        transition: initial;
        padding: 10px 0 15px 0; }
    .site-header__nav--active {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      display: block; }
  .site-header__nav-list li .submenu {
    position: relative;
    width: initial;
    background-color: transparent;
    opacity: 1;
    -webkit-transform: initial !important;
    -moz-transform: initial !important;
    -ms-transform: initial !important;
    -o-transform: initial !important;
    transform: initial !important;
    top: 0;
    text-align: left;
    -webkit-transition: initial;
    -moz-transition: initial;
    -o-transition: initial;
    transition: initial;
    display: none;
    padding-left: 10px; }
    .site-header__nav-list li .submenu li {
      display: block;
      -webkit-transition: initial;
      -moz-transition: initial;
      -o-transition: initial;
      transition: initial;
      margin-right: 0;
      position: relative; }
      .site-header__nav-list li .submenu li a {
        display: inline-block;
        font-size: 15px;
        -webkit-transition: initial;
        -moz-transition: initial;
        -o-transition: initial;
        transition: initial; }
  .site-header__nav-list li.current-menu-item .submenu {
    display: block;
    visibility: visible; }
  .site-header {
    position: relative; } }

@media screen and (max-width: 1023px) {
  .site-footer {
    padding-top: 40px; }
  .inner-page ul li:before {
    display: none; }
  .inner-page__default-article-marker ul li {
    list-style: inherit; }
  .inner-page__main-content {
    width: 54%; }
  .inner-page .inner-page__complete-list li {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 35px; }
  .inner-page__complete-imgblock {
    display: block;
    margin-bottom: 22px;
    margin-right: 0; }
  .inner-page .inner-page__interested-list li {
    float: none;
    width: 100%;
    list-style: none;
    text-align: center;
    margin-bottom: 55px; }
  .inner-page .inner-page__features-list li {
    float: none;
    margin-bottom: 65px;
    width: 100%; }
  .inner-page__sidebar {
    display: block;
    position: relative;
    float: none;
    text-align: center;
    width: 100%;
    top: 0;
    padding-top: 10px;
    padding-right: 0 !important;
    height: auto;
    min-width: auto; }
  .inner-page__sidebar-action {
    margin-bottom: 35px; }
  .inner-page__sidebar-imageblock {
    margin-bottom: 55px; }
  .inner-page .inner-page__sidebar-manageHelp {
    padding-left: 0;
    background-image: none; }
  .inner-page__main-content {
    float: none;
    width: 100%;
    text-align: center; } }

@media screen and (max-width: 879px) {
  .home__banner-caption {
    padding-top: 0; }
  .section__title {
    font-size: 25px;
    margin-bottom: 35px; }
  .home__intro-section-title {
    font-size: 20px; }
  .home__banner {
    padding: 235px 0 145px 0;
    min-height: initial; }
  .home__banner-caption-title {
    font-size: 35px; }
  .home__intro-section {
    margin-bottom: 15px; }
  .home__intro-section-content {
    padding-top: 0; }
  .home__reviews-title {
    font-size: 30px; }
  .home__reviews-subtitle {
    font-size: 20px; } }

@media screen and (max-width: 650px) {
  .myContainer {
    padding: 0 32px; }
  .home__dont-scroll-submit-wrap {
    text-align: center; }
  .home__dont-scroll-submit {
    display: inline-block;
    width: auto;
    margin: 0 auto; }
  .site-footer__searchform {
    float: none;
    width: 100%;
    margin-bottom: 45px; }
  .site-footer__top-imgblock {
    width: 100%;
    margin-bottom: 45px; }
  .site-footer__nav-section {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .site-footer__nav-title {
    text-align: center; }
  .site-footer__nav-list {
    margin-bottom: 45px; }
  .site-footer__nav-list li {
    text-align: center; }
  .site-footer__copyright {
    float: none;
    text-align: center;
    margin-bottom: 35px; }
  .site-footer__card-wrap {
    float: none;
    text-align: center;
    margin-right: 0; }
  .inner-page__main-title {
    font-size: 30px; }
  .site-header__nav {
    left: 28px; }
  .site-header__nav-list > li a {
    font-size: 17px;
    padding: 15px 0; } }

@media screen and (max-width: 420px) {
  .home__start-list li:nth-child(2) .img {
    margin-left: 0; }
  .home__banner {
    padding: 155px 0 145px 0;
    margin-bottom: 15px; }
  .home__intro-section-left-block {
    margin-bottom: 55px; }
  .home__start-bg-section-left-block {
    max-width: 95%; }
  .home__reviews-description {
    max-width: 95%; }
  .home__start-list-description {
    max-width: 95%; }
  .site-header__logo {
    font-size: 20px; }
  .site-header__mobile-btn {
    top: 19px;
    left: 12px;
    width: 20px;
    height: 20px; }
  .site-header__demo-link {
    font-size: 11px; }
    .site-header__demo-link:after {
      font-size: 12px; }
  .site-header__login-block {
    padding-top: 12px; }
  .site-header__login-link {
    width: 12px;
    height: 12px; } }

/*RETINA*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .site-header__login-link, .inner-page .inner-page__sidebar-manageHelp, .site-footer__searchfield, .site-footer__social-list li.youtube a, .site-footer__social-list li.facebook a, .site-footer__social-list li.google-plus a, .site-footer__social-list li.twitter a, .site-footer__social-list li.linkedin a {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .site-header__login-link {
    background-image: url(../img/main/site-header__login-link@2x.png); }
  .inner-page .inner-page__sidebar-manageHelp {
    background-image: url(../img/inner-page/sidebar-manageHelp@2x.png); }
  .site-footer__searchfield {
    background-image: url(../img/main/site-footer__searchfield@2x.png); }
  .site-footer__social-list li.youtube a {
    background-image: url(../img/main/youtube@2x.png); }
  .site-footer__social-list li.facebook a {
    background-image: url(../img/main/facebook@2x.png); }
  .site-footer__social-list li.google-plus a {
    background-image: url(../img/main/google-plus@2x.png); }
  .site-footer__social-list li.twitter a {
    background-image: url(../img/main/twitter@2x.png); }
  .site-footer__social-list li.linkedin a {
    background-image: url(../img/main/linkedin@2x.png); } }

/*RETINA*/
/*END:RESPONSIVE*/
