/*base*/

body {
    font-family: 'Roboto-Regular';
}

a {
    @extend %default-transition;
}

%default-more-btn {
    display: inline-block;
    font-size: 18px;
    color: #353f43;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid #353f43;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    &:hover {
        border-color: #e63477;
        color: #e63477;
    }
}

.myContainer {
    position: relative;
    max-width: grid('container');
    padding: 0 grid('container-gutter');
    margin: 0 auto;
    @extend %clearfix;
}

.section {
    height: 90vh;
    min-height: 650px;
    // padding-top: 35px;
    // padding-bottom: 48px;
    >.myContainer {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        font-size: 36px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 55px;
        color: #374146;
        strong {
            font-family: 'Roboto-Bold';
        }
    }
}


/*site-header*/

.site-header {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(#414a4e, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: 62px;
    a {
        color: #fff;
    }
    &__logo {
        font-family: 'Roboto-Bold';
        font-size: 26px;
        margin-bottom: 0;
        float: left;
        padding-top: 17px;
        font-weight: normal;
        a {
            text-decoration: none;
            font-weight: normal;
            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    &__left-block {
        float: right;
    }
    &__nav {
        float: left;
        margin-right: 72px;
    }
    &__nav-list {
        margin-bottom: 0;
        @extend %clearfix;
        li {
            list-style: none;
            @extend %default-transition;
            a {
                @extend %default-transition;
            }
            .submenu {
                position: fixed;
                top: 62px;
                left: 0;
                width: 100%;
                padding: 4px 0;
                text-align: center;
                visibility: hidden;
                background-color: rgba(#000, 0.68);
                opacity: 0;
                transition: all 0.4s ease-in-out;
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
                &.activeBar {
                    opacity: 1;
                    visibility: visible;
                }
                li {
                    display: inline-block;
                    list-style: none;
                    padding-right: 48px;
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                    }
                    a {
                        padding: 12px 0;
                        &:after {
                            display: none;
                        }
                    }
                    &.active {
                        font-family: 'Roboto-Medium';
                        font-size: 16px;
                    }
                }
            }
        }
        > li {
            position: relative;
            float: left;
            cursor: pointer;
            padding-right: 24px;
            @extend %default-transition;
            padding-left: 24px;
            a {
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            &.current-menu-item > a {
                &:after {
                    position: absolute;
                    bottom: 13px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    display: block;
                    @extend %default-transition;
                }
            }
            &:hover {
                a:after {
                    position: absolute;
                    bottom: 13px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    display: block;
                    @extend %default-transition;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 18px;
                text-decoration: none;
                display: inline-block;
                padding: 20px 0 20px 0;
                position: relative;
            }
        }
    }
    &__submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        @extend %clearfix;
        background-color: rgba(#000000, 0.68);
        li {
            display: inline-block;
            list-style: none;
            margin-right: 25px;
            &.active {
                font-family: 'Roboto-Medium';
            }
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
    &__login-block {
        float: right;
        margin-top: -10px;
        padding-top: 19px;
        margin-right: -12px;
        @extend %clearfix;
    }
    &__demo-link {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-family: 'Roboto-Regular';
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        &:after {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            content: '/';
            font-size: 24px;
            color: #fff;
            margin-left: 6px;
            top: -3px;
            left: 5px;
        }
    }
    &__login-link {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        background-image: url(../img/main/site-header__login-link.png);
        background-repeat: no-repeat;
        padding: 24px;
        background-position: center center;
        position: relative;
        top: -2px;
        left: 1px;
        box-sizing: content-box;
    }
    &__mobile-btn {
        display: none;
        width: 25px;
        height: 25px;
        background: none;
        background-image: url(../img/main/mobile-btn.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        top: 20px;
        left: 16px;
    }
}


/*END:site-header*/


/*site-footer*/

.site-footer {
    clear: both;
    padding-top: 68px;
    padding-bottom: 34px;
    color: #fff;
    background-color: rgba(#414a4e, 0.8);
    position: relative;
    top: 100px;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
    a {
        color: #878d8f;
    }
    &__top-block {
        margin-bottom: 43px;
    }
    &__left-top {
        margin-bottom: 42px;
        @extend %clearfix;
    }
    &__left-block {
        float: left;
        width: 63.799999999999997%;
        margin-right: 14%;
    }
    &__right-block {
        float: left;
        width: 22.199999999999999%;
    }
    &__searchform {
        float: left;
        margin-right: 10.199999999999999%;
        padding-bottom: 5px;
        border-bottom: 1px solid #d5d5d6;
        width: 44.700000000000003%;
    }
    &__searchfield {
        width: 100%;
        font-family: 'Roboto-Light';
        font-size: 16px;
        padding-left: 35px;
        border: none;
        color: #fff;
        background-color: transparent;
        background-color: transparent;
        background-image: url(../img/main/site-footer__searchfield.png);
        background-repeat: no-repeat;
    }
    &__top-imgblock {
        float: left;
        width: 44%;
        border-bottom: 1px solid #d5d5d6;
        .img {
            display: inline-block;
        }
    }
    &__nav-sections {
        @extend %clearfix;
    }
    &__nav-section {
        float: left;
        width: 15.725%;
        margin-right: 3.90625%;
    }
    &__nav-title {
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 4.6px;
        font-weight: normal;
        a {
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            color: #fff;
            margin-bottom: 4.6px;
            font-weight: normal;
        }
    }
    &__nav-list {
        @extend %clearfix;
        li {
            list-style: none;
            a {
                font-size: 14px;
                line-height: 24px;
                text-decoration: none;
                color: #abaeaf;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &__social-list {
        margin-bottom: 46px;
        @extend %clearfix;
        text-align: center;
        padding-top: 4px;
        float: right;
        li {
            margin-right: 20px;
            list-style: none;
            float: left;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                background-repeat: no-repeat;
            }
            &.youtube {
                a {
                    width: 20px;
                    height: 24px;
                }
            }
            &.facebook {
                a {
                    width: 13px;
                    height: 24px;
                }
            }
            &.google-plus {
                a {
                    width: 23px;
                    height: 24px;
                }
            }
            &.twitter {
                a {
                    width: 27px;
                    height: 24px;
                }
            }
            &.linkedin {
                a {
                    width: 25px;
                    height: 24px;
                }
            }
        }
        @each $icon in $socialIcons {
            li.#{$icon} {
                a {
                    background-image: url(../img/main/#{$icon}.png);
                }
            }
        }
    }
    &__hotline-section {
        float: right;
    }
    &__hotline-title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0px;
        font-weight: normal;
    }
    &__hotline-list {
        li {
            font-size: 14px;
            line-height: 24px;
            list-style: none;
            a {
                color: #b1b4b5;
                text-decoration: none;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &__site-footer__copyright {
        float: left;
    }
    &__copyright {
        float: left;
        color: #878d8f;
        font-family: 'Roboto-Medium';
    }
    &__copyright-text {
        font-weight: bold;
        color: #878d8f;
    }
    &__copyright-link {
        text-decoration: none;
        color: #878d8f;
    }
    &__card-wrap {
        float: right;
    }
}

