@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light/Roboto-Light.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Light/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Light/Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Light/Roboto-Light.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Medium/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Medium/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Medium/Roboto-Medium.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto/Roboto-Black/Roboto-Black.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Black/Roboto-Black.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Black/Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Black/Roboto-Black.svg#svgFontName') format('svg');
    /* Legacy iOS */
}
