/*home*/

.home {
    &__banner {
        position: relative;
        background-image: url(../img/home/homebanner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 0;
        min-height: 602px;
        >.myContainer {
            height: 100%;
            position: static;
            top: inherit;
            transform: none;
        }
    }
    &__banner-caption {
        padding-left: 67px;
        color: #fff;
        width: 50%;
        position: relative;
        top: 50%;
        left: auto;
        padding-top: 80px;
        transform: translateY(-50%);
    }
    &__banner-caption-title {
        font-size: 48px;
        margin-bottom: 43px;
        strong {
            font-family: 'Roboto-Bold';
            margin-bottom: 25px;
            color: color('primary');
        }
    }
    &__banner-sign-btn {
        display: inline-block;
        font-size: 18px;
        padding: 10px 47px 10px 41px;
        border: 1px solid #fff;
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        margin-left: -2px;
        &:hover {
            border-color: #e63477;
            color: #e63477;
        }
    }
    &__intro-section {}
    &__intro-section-content {
        padding-top: 45px;
        @extend %clearfix;
    }
    &__intro-section-left-block {
        float: left;
        width: 44.25%;
        text-align: center;
        margin-right: 12.85%;
        ;
        .icon-wrap {
            text-align: center;
            padding-top: 10px;
        }
        .icon {
            display: inline-block;
            margin-bottom: 82px;
        }
    }
    &__intro-section-title {
        font-size: 20px;
        margin-bottom: 25px;
        color: #000;
        font-weight: normal;
    }
    &__intro-section-right-block {
        float: left;
        width: 42.049999999999997%;
    }
    &__intro-section-description {
        font-family: 'Roboto-Light';
        font-size: 20px;
        margin-bottom: 37px;
    }
    &__intro-section-sign-btn {
        font-size: 18px;
        color: #353f43;
        padding: 10px 48px 10px 44px;
        border: 1px solid #353f43;
        border-radius: 3px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        &:hover {
            border-color: #e63477;
            color: #e63477;
        }
    }
    &__start-section {
        background-color: #F9F9F9;
        margin-bottom: 0;
    }
    &__start-list {
        text-align: center;
        margin-bottom: 46px;
        @extend %clearfix;
        li {
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            width: 30.199999999999999%;
            margin-right: 3.6%;
            &:nth-child(2) {
                .img {
                    margin-left: -57px;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            .img {
                display: inline-block;
                margin-bottom: 42px;
            }
        }
    }
    &__start-list-description {
        max-width: 60%;
        margin: 0 auto;
        font-family: 'Roboto-Light';
        font-size: 18px;
    }
    &__start-section-sign-btn-wrap {
        text-align: center;
    }
    &__start-section-sign-btn {
        color: #353f43;
        text-align: center;
        padding: 10px 20px 12px 20px;
        border: 1px solid #353f43;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        &:hover {
            border-color: #e63477;
            color: #e63477;
        }
    }
    &__start-bg-section {
        background-image: url(../img/home/home__start-bg-section.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @extend %clearfix;
        background-position: center center;
    }
    &__start-bg-section-content {
        @extend %clearfix;
    }
    &__start-bg-section-left-block {
        float: left;
        padding-left: 35px;
        width: 35%;
    }
    &__start-bg-section-right-block {
        float: right;
        width: 26%;
        padding-left: 0;
    }
    &__start-bg-section {
        @extend %clearfix;
    }
    &__start-bg-section-description {
        font-family: 'Roboto-Light';
        font-size: 20px;
        margin-bottom: 41px;
    }
    &__start-bg-section-link {
        margin-left: 34px;
        padding: 10px 58px 12px 46px;
        @extend %default-more-btn;
        &--right {
            padding: 10px 21px 13px 23px;
            margin: 48px 0 0 59px;
        }
    }
    &__dont-scroll {
    }
    &__dont-scroll-content {
        padding-top: 25px;
        @extend %clearfix;
    }
    &__dont-scroll-left-block {
        float: left;
        width: 42.75%;
        margin-right: 14.25%;
        .description {
            font-family: 'Roboto-Light';
            font-size: 18px;
        }
    }
    &__dont-scroll-right-block {
        float: left;
        width: 42.950000000000003%;
    }
    &__dont-scroll-element-title {
        margin-bottom: 7px;
        color: #424141;
        font-weight: normal;
        font-size: 12px;
    }
    &__dont-scroll-fieldset {
        margin-bottom: 107px;
    }
    &__dont-scroll-element-wrap {
        margin-bottom: 41px;
    }
    &__dont-scroll-element {
        width: 100%;
        font-size: 16px;
        border: none;
        padding-bottom: 9px;
        color: #a9a9a9;
        border-bottom: 1px solid #a8a8a8;
        &::-webkit-input-placeholder {
            color: #a9a9a9;
        }
        &::-moz-placeholder {
            color: #5D5B5B;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
            color: #5D5B5B;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
            color: #a9a9a9;
        }
    }
    &__dont-scroll-submit {
        background-color: transparent;
        padding: 10px 50px 12px 51px;
        cursor: pointer;
        @extend %default-more-btn;
        @extend %default-transition;
    }
    &__reviews-left-block {
        float: left;
        width: 44.049999999999997%;
        margin-right: 12.949999999999999%;
    }
    &__reviews-title {
        font-size: 36px;
        margin-bottom: 60px;
        color: #374146;
        font-weight: normal;
        strong {
            font-family: 'Roboto-Bold';
        }
    }
    &__reviews-subtitle {
        font-size: 24px;
        font-weight: normal;
    }
    &__reviews-description-wrap {}
    &__reviews-description {
        font-family: 'Roboto-Light';
        font-size: 18px;
        margin-bottom: 33px;
    }
    &__reviews-btn {
        padding: 10px 29px 10px 31px;
        @extend %default-more-btn;
    }
    &__reviews-right-block {
        float: left;
        width: 43%;
        padding-top: 53px;
    }
}


/*END:home*/
