/*inner-page*/

.inner-page {
    padding-top: 62px;
    a {
        font-size: 16px;
        line-height: 20px;
        color: color('primaryHue');
    }
    p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 28px;
    }
    ul {
        padding-left: 0;
        margin-bottom: 20px;
        li {
            position: relative;
            font-size: 18px;
            line-height: 28px;
            list-style: none;
            padding-left: 0;
            // &:before {
            //     position: absolute;
            //     content: '';
            //     top: 12px;
            //     left: -10px;
            //     display: inline-block;
            //     width: 2px;
            //     height: 2px;
            //     background-color: #000;
            //     transform: translateY(-50%);
            // }
        }
    }
    &__content-area {
        padding-top: 0;
        padding-bottom: 48px;
    }
    &__main-content {
        float: left;
        width: 66.670000000000002%;
        padding-top: 72px;
        // margin-right: 72px;
    }
    &__breadcrumbs {
        margin-bottom: 35px;
    }
    &__breadcrumbs-text {
        position: relative;
        font-size: 18px;
        &:after {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            content: '/';
            margin: 0 5px;
        }
    }
    .inner-page &__breadcrumbs-link {
        font-size: 18px;
        text-decoration: none;
        color: #000000;
    }
    .inner-page &__breadcrumbs-list {
        padding-left: 0;
        li {
            list-style: none;
            display: inline-block;
            padding-left: 0;
            &:before {
                display: none;
            }
        }
    }
    &__main-article {
        margin-bottom: 89px;
    }
    &__main-title {
        font-size: 36px;
        margin-bottom: 67px;
        font-weight: normal;
    }
    &__main-description {
        font-size: 18px;
        line-height: 28px;
    }
    .inner-page &__features-list {
        margin-bottom: 60px;
        padding-left: 0;
        @extend %clearfix;
        li {
            float: left;
            width: 25.5%;
            list-style: none;
            margin-right: 56px;
            text-align: center;
            vertical-align: middle;
            padding-left: 0;
            &:before {
                display: none;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__feature-icon-wrap {
        height: 118px;
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }
    &__feature-icon {
        vertical-align: middle;
        max-width: 100%;
        display: inline-block;
    }
    &__feature-title {
        font-family: 'Roboto-Light';
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        text-align: center;
    }
    &__default-article {
        margin-bottom: 80px;
    }
    &__default-article-marker {
        ul {
            padding-left: 25px;
            margin-bottom: 20px;
            li {
                position: relative;
                font-size: 18px;
                line-height: 28px;
                list-style: none;
                padding-left: 10px;
                &:before {
                    position: absolute;
                    content: '';
                    top: 12px;
                    left: -10px;
                    display: inline-block;
                    width: 2px;
                    height: 2px;
                    background-color: #000;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &__default-article-title {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 28px;
    }
    &__call-img {
        display: block;
        max-width: 100%;
        margin: 0 auto 60px;
    }
    .inner-page &__complete-list {
        padding-left: 0;
        @extend %clearfix;
        li {
            list-style: none;
            padding-left: 0;
            float: left;
            width: 47%;
            margin-right: 2%;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                display: none;
            }
        }
    }
    &__complete {
        margin-bottom: 55px;
    }
    &__complete-imgblock {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }
    &__complete-textblock {
        display: inline-block;
        vertical-align: top;
        width: 60%;
    }
    &__complete-title {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 15px;
    }
    &__interested {
        margin-bottom: 45px;
    }
    .inner-page &__interested-list {
        padding-left: 0;
        @extend %clearfix;
        padding-top: 27px;
        li {
            font-family: 'Roboto-Light';
            font-size: 16px;
            line-height: 20px;
            padding-left: 0;
            float: left;
            width: 28%;
            list-style: none;
            margin-right: 5%;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                display: none;
            }
        }
    }
    &__interested-title {
        font-size: 18px;
    }
    &__sidebar {
        height: 87.120418848167546vh;
        padding-right: 0;
        transform: inherit !important;
        will-change: inherit !important;
        float: right;
        min-width: 282px;
        font-weight: 400 !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.translated {
            // transform: translateX(-72px);
        }
        &--default {
            position: absolute;
            bottom: 0;
            height: auto;
            top: inherit;
            padding-bottom: 25px;
            width: auto;
            padding-right: 102px !important;
            margin-right: 0 !important;
            transform: translateY(-51px);
            transition: transform 0.4s ease-in-out;
            .inner-page__sidebar-action {
                margin-bottom: 49%;
            }
            .inner-page__sidebar-imageblock {
                margin-bottom: 57%;
            }
        }
    }
    &__sidebar-block {
        display: table;
        width: 100%;
    }
    &__sidebar-innerblock {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    &__sidebar-action {
        text-align: center;
        height: 30%;
    }
    &__sidebar-action-title {
        font-family: 'Roboto-Black';
        font-size: 48px;
        margin-bottom: -1px;
        color: color('primaryHue');
        font-weight: 400 !important;
        -webkit-font-smoothing: antialiased;
    }
    &__sidebar-action-subtitle {
        font-size: 20px;
        font-weight: 400 !important;
        color: #676e71;
        margin-top: -1px;
        -webkit-font-smoothing: antialiased;
    }
    &__sidebar-imageblock {
        height: 40%;
    }
    &__sidebar-getblock {
        height: 30%;
    }
    &__sidebar-btngroup {}
    .inner-page &__sidebar-submitBtn {
        display: inline-block;
        font-family: 'Roboto-Medium';
        font-size: 14px;
        margin-bottom: 32px;
        border-radius: 3px;
        border: 1px solid transparent;
        color: #fff;
        background-color: color('primaryHue');
        text-decoration: none;
        padding: 7px 42px 7px 42px;
        font-weight: 400 !important;
        -webkit-font-smoothing: antialiased;
        &:hover {
            color: color('primaryHue');
            border-color: color('primaryHue');
            background-color: #fff;
        }
    }
    .inner-page &__sidebar-manageHelp {
        display: inline-block;
        padding-left: 41px;
        margin-right: 6px;
        color: #676e71;
        background-image: url(../img/inner-page/sidebar-manageHelp.png);
        background-repeat: no-repeat;
        background-position: 11px;
        font-size: 14px;
        font-weight: 400 !important;
        -webkit-font-smoothing: antialiased;
    }
}


/*END:inner-page*/
