/*RESPONSIVE*/

@media screen and (max-width: 1200px) {
    .section {
        padding-top: 65px;
        padding-bottom: 78px;
    }
    .home__banner {
        min-height: 450px !important;
    }
    .inner-page__main-content {
        width: 56%;
        padding-top: 0;
    }
    .section > .myContainer {
        position: static;
        top: inherit;
        transform: none;
    }
    .site-footer {
        position: static;
    }
    .wrapper {
        height: auto;
    }
    .section {
        height: auto;
        min-height: auto;
    }
    .inner-page__feature-icon-wrap {
        height: auto;
    }
    .inner-page__default-article {
        text-align: center;
    }
    .inner-page__call-img {
        margin: 0 auto 60px;
    }
    .inner-page ul {
        text-align: left;
    }
    .body-inner-page .site-header .submenu:before {
        display: none;
    }
    .inner-page__content-area {
        padding-top: 0;
    }
    .site-header__nav-list > li.current-menu-item:after,
    .site-header__nav-list > li:hover:after {
        display: none;
    }
    .site-header__nav-list > li.current-menu-item,
    .site-header__nav-list > li:hover {
        > a {
            display: inline-block;
            position: relative;
            &:after {
                position: absolute;
                bottom: 11px;
                left: 0;
                content: '';
                width: 100%;
                height: 3px;
                background-color: #fff;
                display: block;
            }
        }
    }
    %mobile-block {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    .home__banner-caption {
        width: 100%;
        text-align: center;
        padding-left: 0;
        transform: inherit;
        top: 0;
    }
    .home__intro-section-left-block {
        @extend %mobile-block;
        margin-bottom: 85px;
    }
    .home__intro-section-right-block {
        @extend %mobile-block;
        text-align: center;
    }
    .home__start-list li {
        @extend %mobile-block;
        margin-bottom: 45px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .home__start-list-description {
        max-width: 40%;
    }
    .home__start-bg-section {
        padding-bottom: 65px;
    }
    .home__start-bg-section-left-block {
        text-align: center;
        max-width: 70%;
        margin: 0 auto 75px;
        padding-left: 0;
        @extend %mobile-block;
    }
    .home__start-bg-section-link {
        margin-left: 0;
    }
    .home__start-bg-section-right-block {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
        @extend %mobile-block;
    }
    .home__start-bg-section-link--right {
        margin-top: 0;
    }
    .home__dont-scroll {
        margin-bottom: 15px;
    }
    .home__dont-scroll-left-block {
        @extend %mobile-block;
        margin-bottom: 65px;
    }
    .home__dont-scroll-fieldset {
        margin-bottom: 35px;
    }
    .home__dont-scroll-right-block {
        @extend %mobile-block;
    }
    .home__reviews-left-block {
        text-align: center;
        @extend %mobile-block;
    }
    .home__reviews-right-block {
        text-align: center;
        @extend %mobile-block;
    }
    .home__reviews-description {
        max-width: 70%;
        margin: 0 auto 35px;
    }
    .site-footer__left-block {
        @extend %mobile-block;
        margin-bottom: 45px;
    }
    .site-footer__nav-sections {
        text-align: center;
    }
    .site-footer__nav-section {
        float: none;
        display: inline-block;
        vertical-align: top;
        width: initial;
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .site-footer__nav-list {
        li {
            text-align: left;
        }
    }
    .site-footer__nav-title {
        text-align: left;
    }
    .site-footer__right-block {
        @extend %mobile-block;
    }
    .site-footer__social-list {
        @extend %mobile-block;
    }
    .site-footer__social-list li {
        float: none;
        display: inline-block;
    }
    .site-footer__hotline-section {
        text-align: center;
        @extend %mobile-block;
    }
    .site-footer__hotline-title {
        margin-bottom: 15px;
    }
    .site-header__mobile-btn {
        display: inline-block;
    }
    .site-header__nav {
        position: absolute;
        float: none;
        top: 73px;
        left: 73px;
        margin-right: 0;
        transition: all 0.3s ease-in;
        transform: translateX(-999px);
        padding: 22px 45px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 3px;
        li {
            margin-right: 0;
            float: none;
            transition: initial;
            padding-right: 0;
            padding-left: 0;
            a {
                transition: initial;
                padding: 10px 0 15px 0;
            }
        }
        &--active {
            transform: translateX(0);
            display: block;
        }
    }
    .site-header__nav-list li .submenu {
        position: relative;
        width: initial;
        background-color: transparent;
        opacity: 1;
        transform: initial !important;
        top: 0;
        text-align: left;
        transition: initial;
        display: none;
        padding-left: 10px;
        li {
            display: block;
            transition: initial;
            margin-right: 0;
            position: relative;
            a {
                display: inline-block;
                font-size: 15px;
                transition: initial;
            }
        }
    }
    .site-header__nav-list li.current-menu-item {
        .submenu {
            display: block;
            visibility: visible;
        }
    }
    .site-header {
        position: relative;
    }
}

@media screen and (max-width: 1023px) {
    .site-footer {
        padding-top: 40px;
    }
    .inner-page ul li {
        &:before {
            display: none;
        }
    }
    .inner-page__default-article-marker ul li {
        list-style: inherit;
    }
    .inner-page__main-content {
        width: 54%;
    }
    .inner-page .inner-page__complete-list li {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    .inner-page__complete-imgblock {
        display: block;
        margin-bottom: 22px;
        margin-right: 0;
    }
    .inner-page .inner-page__interested-list li {
        float: none;
        width: 100%;
        list-style: none;
        text-align: center;
        margin-bottom: 55px;
    }
    .inner-page .inner-page__features-list li {
        float: none;
        margin-bottom: 65px;
        width: 100%;
    }
    .inner-page__sidebar {
        display: block;
        position: relative;
        float: none;
        text-align: center;
        width: 100%;
        top: 0;
        padding-top: 10px;
        padding-right: 0 !important;
        height: auto;
        min-width: auto;
    }
    .inner-page__sidebar-action {
        margin-bottom: 35px;
    }
    .inner-page__sidebar-imageblock {
        margin-bottom: 55px;
    }
    .inner-page .inner-page__sidebar-manageHelp {
        padding-left: 0;
        background-image: none;
    }
    .inner-page__main-content {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 879px) {
    .home__banner-caption {
        padding-top: 0;
    }
    .section__title {
        font-size: 25px;
        margin-bottom: 35px;
    }
    .home__intro-section-title {
        font-size: 20px;
    }
    .home__banner {
        padding: 235px 0 145px 0;
        min-height: initial;
    }
    .home__banner-caption-title {
        font-size: 35px;
    }
    .home__intro-section {
        margin-bottom: 15px;
    }
    .home__intro-section-content {
        padding-top: 0;
    }
    .home__reviews-title {
        font-size: 30px;
    }
    .home__reviews-subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    .myContainer {
        padding: 0 32px;
    }
    .home__dont-scroll-submit-wrap {
        text-align: center;
    }
    .home__dont-scroll-submit {
        display: inline-block;
        width: auto;
        margin: 0 auto;
    }
    .site-footer__searchform {
        float: none;
        width: 100%;
        margin-bottom: 45px;
    }
    .site-footer__top-imgblock {
        width: 100%;
        margin-bottom: 45px;
    }
    .site-footer__nav-section {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .site-footer__nav-title {
        text-align: center;
    }
    .site-footer__nav-list {
        margin-bottom: 45px;
    }
    .site-footer__nav-list li {
        text-align: center;
    }
    .site-footer__copyright {
        float: none;
        text-align: center;
        margin-bottom: 35px;
    }
    .site-footer__card-wrap {
        float: none;
        text-align: center;
        margin-right: 0;
    }
    .inner-page__main-title {
        font-size: 30px;
    }
    .site-header__nav {
        left: 28px;
    }
    .site-header__nav-list > li a {
        font-size: 17px;
        padding: 15px 0;
    }
}

@media screen and (max-width: 420px) {
    .home__start-list li:nth-child(2) .img {
        margin-left: 0;
    }
    .home__banner {
        padding: 155px 0 145px 0;
        margin-bottom: 15px;
    }
    .home__intro-section-left-block {
        margin-bottom: 55px;
    }
    .home__start-bg-section-left-block {
        max-width: 95%;
    }
    .home__reviews-description {
        max-width: 95%;
    }
    .home__start-list-description {
        max-width: 95%;
    }
    .site-header__logo {
        font-size: 20px;
    }
    .site-header__mobile-btn {
        top: 19px;
        left: 12px;
        width: 20px;
        height: 20px;
    }
    .site-header__demo-link {
        font-size: 11px;
        &:after {
            font-size: 12px;
        }
    }
    .site-header__login-block {
        padding-top: 12px;
    }
    .site-header__login-link {
        width: 12px;
        height: 12px;
    }
}


/*RETINA*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    %bg-size-cover {
        background-size: cover;
    }
    .site-header__login-link {
        background-image: url(../img/main/site-header__login-link@2x.png);
        @extend %bg-size-cover;
    }
    .inner-page .inner-page__sidebar-manageHelp {
        background-image: url(../img/inner-page/sidebar-manageHelp@2x.png);
        @extend %bg-size-cover;
    }
    .site-footer__searchfield {
        background-image: url(../img/main/site-footer__searchfield@2x.png);
        @extend %bg-size-cover;
    }
    .site-footer__social-list li.youtube a {
        background-image: url(../img/main/youtube@2x.png);
        @extend %bg-size-cover;
    }
    .site-footer__social-list li.facebook a {
        background-image: url(../img/main/facebook@2x.png);
        @extend %bg-size-cover;
    }
    .site-footer__social-list li.google-plus a {
        background-image: url(../img/main/google-plus@2x.png);
        @extend %bg-size-cover;
    }
    .site-footer__social-list li.twitter a {
        background-image: url(../img/main/twitter@2x.png);
        @extend %bg-size-cover;
    }
    .site-footer__social-list li.linkedin a {
        background-image: url(../img/main/linkedin@2x.png);
        @extend %bg-size-cover;
    }
}


/*RETINA*/


/*END:RESPONSIVE*/
