$grid: (
	'container': 1280px,
	'container-gutter': 72px,
    'footerSpace': 142px
);

@function grid($width){
	@return map-get($grid, $width);
}

$colors: (
	'primary': #e63477,
    'primaryHue': #ff3167
);

@function color($color){
	@return map-get($colors, $color);
}

$socialIcons: youtube, facebook, google-plus, twitter, linkedin;

%default-transition {
    transition: all 0.3s ease-in;
}

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}



